@import "../../styles/colors";

.about {
  padding-top: 10rem;
  height: 100vh;
  background-color: #f4f9fd;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
    text-align: center;

    @media (min-width: 600px) {
      max-width: 600px;
    }

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 1200px;
      gap: 2rem;
      text-align: left;
    }
  }

  &__image {
    img {
      width: 100%;
      height: auto;
      border-radius: 0.5rem;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    }

    @media (min-width: 768px) {
      flex: 1;
    }
  }

  &__content {
    background-color: #e9f2fa;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    border: 1px solid #d0e0f0;

    @media (min-width: 768px) {
      flex: 2;
      padding: 2rem;
    }

    h2 {
      font-size: 1.8rem;
      margin-bottom: 1rem;
      color: #0056b3;

      @media (min-width: 992px) {
        font-size: 2rem;
      }
    }

    h3 {
      font-size: 1.4rem;
      margin-top: 2rem;
      color: #003366;

      @media (min-width: 992px) {
        font-size: 1.6rem;
      }
    }

    .deviceInfo {
      font-size: 1rem;
      margin-bottom: 1rem;

      @media (min-width: 768px) {
        font-size: 1.2rem;
      }
    }

    .deviceList,
    .certificatesList {
      list-style-type: none;
      padding: 0;
      margin: 1rem 0;

      li {
        font-size: 1rem;
        margin: 0.5rem 0;

        @media (min-width: 768px) {
          font-size: 1.1rem;
          margin: 0.75rem 0;
        }
      }
    }

    .signature {
      margin-top: 2rem;
      font-weight: bold;
      font-size: 1.2rem;
      color: #003366;

      @media (min-width: 768px) {
        font-size: 1.4rem;
      }

      @media (min-width: 992px) {
        font-size: 1.6rem;
      }
    }
  }
}

/* Dla większych ekranów */
@media (min-width: 992px) {
  .about__container {
    gap: 3rem;
  }

  .about__content {
    padding: 2.5rem;
  }
}
