@import "../styles/colors";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Prompt", sans-serif;
  min-height: 100vh;
  min-height: 100dvh;
}

.whiteBlock {
  position: absolute;
  height: 40px;
  width: 60%;
  background: $white-smooth;
  transform: skew(45deg);
  z-index: 3;

  &Left {
    bottom: 0;
    left: -50px;
  }

  &Right {
    top: 0;
    right: -50px;
    transform: skew(45deg);
  }
}

.heroContainer {
  position: relative;
  overflow: hidden;
}

// .container {
//   position: relative;
//   max-width: 1100px;
//   margin: 0 auto;
// }
