@import "../../styles/colors";

.logo {
  position: fixed;
  top: -4rem;
  left: -3rem;
  z-index: 10000;

  img {
    height: 18rem;
    width: 18rem;
  }
}

@media (min-width: 992px) {
  .logo {
    position: fixed;
    left: 4rem;
    top: -5rem;

    img {
      height: 20rem;
      width: 20rem;
    }
  }
}
